  /*
Project Name: MoneyMojo Promotional Site
Client: MoneyMojo Software Partnership  
Author: Tim Cullen
Date:   August 2013
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}


/********************/
/* Img replacement  */
/********************/

.ir {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;


}

.logo {

width: 112px;
height: 120px;
background: url('../images/mojologo.svg');
background-size: cover;
margin: 36px auto;

}


/*----------------------------------------------------------------------------- 
NAVIGATION 
-----------------------------------------------------------------------------*/
ul {

  list-style: none;
}

nav {
/*  float:left; */
  margin: -50px auto;
  height:75px;
  line-height: 0.2em;
  width: 430px;
}

  nav ul {



    background: #efefef; 
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0px;
    list-style: none;
    position: relative;
    display: inline-table;
  
   /*
  normailize takes out bullets from nav
   */

  }
  
      nav ul li a {
        display: block; padding: 25px 40px;
        color: #757575; text-decoration: none;
      }

     

        nav ul li:hover > ul {

          display:block;
        }

  nav li {
    position:relative;
    font-size: 20px;
    float:left;
    margin: 0px;
    text-align: center;


  }

    nav li a {

      text-decoration: none;
      color: #cfcfcf; 
      padding: 25px;
      display: block;
      width:100%;

    }


      nav li a:hover {

        /*background: url("../images/bg_nav_rollover.png");*/
        background: rgb(181,189,200); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */

        color:white;

      }



nav ul ul {
  display: none;
  /*background: #5f6975; */


  background: rgb(181,189,200); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */



  margin-left: 0;
  border-radius: 0px; padding: 0;
  position: absolute; top: 100%;
  width:100%;

}
  nav ul ul li {
    float: none; 
    line-height: 0.7em;
    border-top: 1px solid #6b727c;
    border-bottom: 1px solid #575f6a;
    position: relative;

  }
    nav ul ul li a {
      padding: 5px;
      color: #fff;
      font-size: 12px;
    } 
      nav ul ul li a:hover {
        background: #4b545f;
      }

  



/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

#wrapper {

  background:lightgrey
}

.buffer {
  width:100%;


}

.container {
	width: 960px;
	margin: 0 auto;
  background:#e8e8e8;
  width:96%;
 
}

header .container {
  background:none;
/*  width:100%;*/
}


header {

 height: 150px;
 /*background:grey;
 */

 z-index: 9999;
 top: 0px;
 width: 100%;
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(100,100,100,0.97) 33%, rgba(200,200,200,0.97) 66%, rgba(255,255,255,0.5) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(33%,rgba(100,100,100,0.97)), color-stop(66%,rgba(200,200,200,0.97)), color-stop(100%,rgba(255,255,255,0.5))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(100,100,100,0.97) 33%,rgba(200,200,200,0.97) 66%,rgba(255,255,255,0.5) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(100,100,100,0.97) 33%,rgba(200,200,200,0.97) 66%,rgba(255,255,255,0.5) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(100,100,100,0.97) 33%,rgba(200,200,200,0.97) 66%,rgba(255,255,255,0.5) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(100,100,100,0.97) 33%,rgba(200,200,200,0.97) 66%,rgba(255,255,255,0.5) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#80ffffff',GradientType=0 ); /* IE6-9 */

}
/*
#logobox {
  width:15%;

}

*/

header a {
float: left;  
width:100%;
}


/******************************************
/* ACCORDION
/*******************************************/

dl {

  width:400px;
  margin:0px auto;

}

dd {
margin:0px;
padding: 1em 0;
text-align: center;


}

dt {
cursor: pointer;
background-color: grey;
font-size: 20px;
text-align: center;
font-weight: bold;
line-height: 35px;
border-bottom: 1px solid black;
border-top: 1px solid white;

}

dt:first-child {border-top: none;}
dd:nth-last-child(2) {border-bottom: none;}

.hide {

display:none;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/



/* ==========================================================================
   Flexslider
   ========================================================================== */

.flexslider {

    background:url('../images/bg_b.png') no-repeat 0 0;
    border-radius: 0;
    border: none;
    margin:0 auto 50px;
    height: 300px;
    max-width:960px;
}

.flexslider li{
    color:white;
    text-align: center;
    padding: 50px 0 0 0;

}

.flexslider .home-title {
  width:40%;
}

.flexslider li h2{
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 25px;
    padding: 0px;

}

.flexslider .slides img{
    width:90%;

}


.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff;
  padding: 12px 4px;
  background: -moz-linear-gradient(
    top,
    #f0f0f0 0%,
    #b8b8b8 25%,
    #6b6b6b 75%,
    #424242);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#f0f0f0),
    color-stop(0.25, #b8b8b8),
    color-stop(0.75, #6b6b6b),
    to(#424242));
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #171717;
  -moz-box-shadow:
    0px 1px 4px rgba(000,000,000,0.5),
    inset 0px 0px 10px rgba(087,087,087,0.8);
  -webkit-box-shadow:
    0px 1px 4px rgba(000,000,000,0.5),
    inset 0px 0px 10px rgba(087,087,087,0.8);
  box-shadow:
    0px 1px 4px rgba(000,000,000,0.5),
    inset 0px 0px 10px rgba(087,087,087,0.8);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0.4),
    0px 1px 0px rgba(255,255,255,0.3);

}



.button:hover {

  color: #ffffff;
}



form .button{

     margin-top: 40px;
}


.photobanner {

  margin:100px 0 0 0;
  width:45%;
  float: right;

}

.photobanner img,
.imageshadow img
{

  width:100%;
  background-size: cover;
}






h1 {


}


h2 {

padding:10px 0 0 100px;
font-family: lucida;
font-size: 45px;
}

h3 {
  font-size: 20px;
}

img {
    max-width: 100%;

}

.home-title {

padding:3px;
float:left;
width:100%;

}


#blurb  {
width:46%;
margin:0 auto;
border-top: 1px solid #000000;
border-right: 1px solid #ffffff;
border-bottom: 1px solid #ffffff;
border-left: 1px solid #000000;



}

#blurb p, h3 {

  
  width:100%;
  padding:10px;
}


#blurb img {

  margin-top: 15px;
}


.features {
    width: 100%;
    overflow: hidden;
  }
    .features li {
      width: 100%;
      padding: 20px;
      max-width: 400px;
      margin: 0 auto;
    }
      .features li a {
        text-decoration: none;
        color: #232323;
      }
        .features li a:hover {
          color: #6c6c6c;
        }
          .features li a:hover img{
            opacity: 0.7;
          }

        .features li a img {
          display: block;
          margin: 0 auto 20px;
          width: 30%;
        }
          .features li a > div h2 {
            text-align: center;
            font-size: 28px;
            padding:0;
          }
          .features li a > div p {
            font-size: 12px;
          }


  .feature {
    margin: 30px 0;
  }
    .feature-left {
      max-width: 400px;
      margin: 0 auto 40px;
      padding: 0 20px;
    }
      .feature-left .btn {
        display: block;
        width: 200px;
        margin: 20px auto;
        text-align: center;
      }
    .feature-right {
      max-width: 400px;
      margin: 0 auto;
      padding: 0 20px;
    }


footer {

  background-color: #000000;
  margin-top: 10px;
  color: #ffffff;
  height:55px;


}

#copyright {

  width:20%;
  float:right;
  padding:0 5px 5px 0;
  font-size: 10px;
}

#companybottom img {

  width:45px;
  margin-left: 30px;
  padding:5px;
  height:45px;
}

input, 
textarea {
    background: #cfcfcf;
    display:block;
    border-radius: 5px;
    width: 100%;
    margin:  10px 0;
    height:40px;
    border: 1px solid darkgrey;
    -webkit-box-shadow: 20px 23px 42px -18px rgba(0,0,0,0.7);
-moz-box-shadow: 20px 23px 42px -18px rgba(0,0,0,0.7);
box-shadow: 20px 23px 42px -18px rgba(0,0,0,0.7);


}

form {
    margin:0 auto;
    width: 30%;
   }

span {
  color:#f00;
}

textarea {

    height: 120px;


}



iframe {
  width: 100%;
  height:375px;
  margin:0 auto;

}

.video {

  width:100%;
  margin:0 auto;
  padding: 6px;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-height: 250px) {

    header {
      height:180px;
      position:fixed;
    }

    .buffer {
      height:180px;
    }


}



@media only screen and (min-width: 450px) {

    .button {

      padding:12px 18px;

  
      .flexslider li h2 {
        font-size: 36px;
      }
      .flexslider li p {
        font-size: 21px;
      }

    .photobanner {
      width:35%;}  
}

@media only screen and (min-width: 600px) {
  .features li {
    float: left;
    width: 33.333333%;
  }
    .features li a img {
      width: 60%;
    }
  .feature-left {
    max-width: none;
    width: 50%;
    float: left;
    margin: 0;
    padding: 60px 20px 0;
  }
  .feature-right {
    max-width: none;
    width: 50%;
    float: left;
    margin: 0;
    padding: 0 20px;
  }
    .feature-right img {
      margin-top: 100px;
    }
  .flexslider {
    height: 330px;
  }

      .flexslider li h2 {
        font-size: 38px;
      }
      .flexslider li p {
        font-size: 23px;
      }

      .photobanner {
      width:40%;}     

}


  
@media only screen and (min-width: 767px) {

  .flexslider {
    height: 400px;
  }
 
      .flexslider li h2 {
        font-size: 42px;
      }
      .flexslider li p {
        font-size: 24px;
      }
}

@media only screen and (min-width: 850px) {
  .feature-right img {
    margin-top: 40px;
  }
  .flexslider {
    height: 500px;
  }
    .flexslider li {
      padding: 140px 0 0 0;
    }
      .flexslider li h2 {
        font-size: 50px;
      }
      .flexslider li p {
        font-size: 28px;
      }
}

@media only screen and (min-width: 900px) {
  .feature-right img {
    margin-top: 0;
    }

  .logo {
    float: left; 

    width: 145px;
    height: 145px;
    margin: 20px 40px 20px 15px;

      }

  .video {


  padding: 20px;
}

  nav {
    float:left;
    margin-top: 50px;
    line-height: inherit;
    width: 600px

    }

  nav ul {
    margin-left: 62px;

  }

   nav ul ul li {
    line-height: 1.0em;
  }

}












